%html
  %head
    %title
      Dash Board
  %body
    %div
      %button#add-feedback-column{data:{widget:'Dashboard'}} +
    %div#feedback-wall
      %div.feedback_column
        %div.feedback_column_head
          %center
            %button +
        %div.feedback_column_body
      %div.feedback_column
        %div.feedback_column_head
          %center
            %button +
        %div.feedback_column_body
      %div.feedback_column
        %div.feedback_column_head
          %center
            %button +
        %div.feedback_column_body
      %div.feedback_column
        %div.feedback_column_head
          %center
            %button +
        %div.feedback_column_body
      %div.feedback_column
        %div.feedback_column_head
          %center
            %button +
        %div.feedback_column_body