// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#feedback-wall{
  border: 3px solid skyblue;
  height: 700px;
  font-size: 0;
}

.feedback_column{
  width: 20%;
  font-size: 12px;
  border: 3px solid skyblue;
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  height: 100%;
}

.feedback_column_head{
  border: 3px solid skyblue;
  height: 30px;
}